.user-table-root-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

.user-table-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
